<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>493042941066-mda3ghmpqb91icv2df9cc7o3jhjt4gtu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493042941066-mda3ghmpqb91icv2df9cc7o3jhjt4gtu</string>
	<key>API_KEY</key>
	<string>AIzaSyB7xv0Xk47eMiDBYuIafZuiTGYv-Qi-ooE</string>
	<key>GCM_SENDER_ID</key>
	<string>493042941066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pftsports.ios</string>
	<key>PROJECT_ID</key>
	<string>pftsports-6b82b</string>
	<key>STORAGE_BUCKET</key>
	<string>pftsports-6b82b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493042941066:ios:9bd587627b97424a</string>
	<key>DATABASE_URL</key>
	<string>https://pftsports-6b82b.firebaseio.com</string>
</dict>
</plist>